@import url(https://fonts.googleapis.com/css?family=Dancing+Script:regular,500,600,700);
@import url(https://fonts.googleapis.com/css?family=Marck+Script:regular);

/* ------------------ROOT ELEMENTS------------------ */
:root {
	--light-nav-back: #fff;
	--light-nav-text: #000;
	--light-nav-hover: #90e0ef;
    --light-bg-about: #f8edeb;
    --light-bg-contact: #e2ece9;
    --light-bg-projects: #f0efeb;

	--dark-nav-back: #000;
	--dark-nav-text: #fff;
    --dark-bg-about: #343a40;
    --dark-bg-projects: #495057;
    --dark-bg-contact: #6c757d;
}
/* ------------------ROOT ELEMENTS------------------ */

/* -----------------SCROLLBAR STYLE START----------------- */
/* width */
::-webkit-scrollbar {
	width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #888;
	border-radius: 4px;
	padding: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}
/* -----------------SCROLLBAR STYLE END----------------- */

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* ---------------LIGHT AND DARK MODE COLOR VARIABLES START--------------- */
.light {
	--nav-back: var(--light-nav-back);
	--nav-text: var(--light-nav-text);
	--nav-hover: var(--light-nav-hover);
    --bg-about: var(--light-bg-about);
    --bg-contact:var(--light-bg-contact);
    --bg-projects: var(--light-bg-projects);
}

.dark {
	--nav-back: var(--dark-nav-back);
	--nav-text: var(--dark-nav-text);
	--nav-hover: var(--light-nav-hover);
    --bg-about: var(--dark-bg-about);
    --bg-contact: var(--dark-bg-contact);
    --bg-projects: var(--dark-bg-projects)
}
/* ---------------LIGHT AND DARK MODE COLOR VARIABLES END--------------- */

/* ----------------------NAVBAR STYLE START---------------------- */
html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Dancing Script';
}

.navbar {
	background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("assets/img/bg.jpg");
	background-position: 0 0;
	background-size: cover;
	color: #fff;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 9vh;
	position: sticky;
	top: 0;
	transition: all .5s ease-in-out;
}

.scroll-active {
	background: var(--nav-back);
	color: var(--nav-text);
}

.navbar .mainMenu {
	list-style: none;
	display: flex;
}

.navbar .mainMenu li a {
	display: inline-block;
	padding: 15px;
	border-radius: 1.5rem;
	text-decoration: none;
	text-transform: uppercase;
	color: #fff;
	font-size: 1.2rem;
}

.scroll-active .mainMenu li a {
	color: var(--nav-text);
}

.navbar .mainMenu li a:hover {
	background: var(--nav-hover);
	color: var(--nav-text);
}

.navbar .openMenu {
	font-size: 2rem;
	margin: 20px;
	display: none;
	cursor: pointer;
}

.navbar .mainMenu .closeMenu,
.icons i {
	font-size: 2rem;
	display: none;
	cursor: pointer;
}

.fa-facebook:hover {
	color: rgb(0, 110, 255);
}

.fa-instagram:hover {
	color: rgb(255, 0, 191);
}

.fa-github:hover {
	color: rgb(255, 123, 0);
}

.navbar .logo {
	margin: 6px 15px;
	font-size: 20px;
	cursor: pointer;
}
/* ----------------------NAVBAR STYLE END---------------------- */

/* -------------------HOME STYLE START------------------- */
.home {
	width: 100%;
	height: 100vh;
	background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("assets/img/bg.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	text-align: left;
	justify-content: center;
	align-items: center;
	font-family: 'Marck Script';
}

.hi {
	color: white;
	font-size: 2em;
}
.ml9 {
	position: relative;
	font-weight: 200;
	font-size: 5em;
	color: #fff;
}

.ml9 .text-wrapper {
	position: relative;
	display: inline-block;
	padding-top: 0.2em;
	padding-right: 0.05em;
	padding-bottom: 0.1em;
	overflow: hidden;
}

.ml9 .letter {
	transform-origin: 50% 100%;
	display: inline-block;
	line-height: 1em;
}

.type {
	font-size: 3em;
	color: #fff;
	height: 3em;
}
/* -------------------HOME STYLE END------------------- */

/* -------------------ABOUT STYLE START------------------- */
.about {
	width: 100%;
	height: 100vh;
    background: var(--bg-about);
}
/* -------------------ABOUT STYLE END------------------- */

/* -------------------PROJECTS STYLE START------------------- */
.projects {
	width: 100%;
	height: 100vh;
	background: var(--bg-projects);
}
/* -------------------PROJECTS STYLE END------------------- */

/* -------------------CONTACT STYLE START------------------- */
.contact {
	width: 100%;
	height: 100vh;
	background: var(--bg-contact);
}
/* -------------------CONTACT STYLE END------------------- */


/* -------------------RESPONSIVE STYLE START------------------- */
@media (max-width: 800px) {

	/* ----------------------RESPONSIVE NAVBAR START---------------------- */
	.navbar {
		background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("assets/img/bg2.jpeg");
		background-size: cover;
		background-position: 0 0;
		background-size: cover;
	}

	.scroll-active {
		background: var(--nav-back);
	}

	.navbar .mainMenu {
		height: 100vh;
		position: fixed;
		top: 0;
		right: 0;
		left: 0;
		z-index: 10;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background: var(--nav-back);
		transition: top 1s ease;
		display: none;
	}

	.navbar .mainMenu li a {
		color: #000;
	}

	.scroll-active .mainMenu li a {
		color: var(--nav-text);
	}

	.navbar .mainMenu .closeMenu {
		display: block;
		position: absolute;
		top: 20px;
		right: 20px;
		color: #000;
	}

	.scroll-active .mainMenu .closeMenu {
		color: var(--nav-text);
	}

	.navbar .openMenu {
		display: block;
	}

	.navbar .mainMenu li a:hover {
		background: none;
		color: var(--nav-hover);
		font-size: 1.6rem;
	}

	.navbar .icons i {
		display: inline-block;
		padding: 12px;
		color: #000;
	}

	.scroll-active .icons i {
		color: var(--nav-text);
	}
	/* ----------------------RESPONSIVE NAVBAR END---------------------- */

	/* -----------------------RESPONSIVE HOME START----------------------- */
	.home {
		background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("assets/img/bg2.jpeg");
		background-size: cover;
		background-position: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.hi {
		color: white;
		font-size: 2em;
	}
	.ml9 {
		position: relative;
		font-weight: 200;
		font-size: 2.5em;
		color: #fff;
	}

	.ml9 .text-wrapper {
		position: relative;
		display: inline-block;
		padding-top: 0.2em;
		padding-right: 0.05em;
		padding-bottom: 0.1em;
		overflow: hidden;
	}

	.ml9 .letter {
		transform-origin: 50% 100%;
		display: inline-block;
		line-height: 1em;
	}

	.type {
		font-size: 2em;
		color: #fff;
		height: 3em;
	}
	/* -----------------------RESPONSIVE HOME END----------------------- */

    /* ------------------RESPONSIVE ABOUT START------------------ */

    /* ------------------RESPONSIVE ABOUT END------------------ */
}
/* -------------------RESPONSIVE STYLE END------------------- */
