@import url(https://fonts.googleapis.com/css?family=Dancing+Script:regular,500,600,700);
@import url(https://fonts.googleapis.com/css?family=Marck+Script:regular);

/* ------------------ROOT ELEMENTS------------------ */
:root {
	--light-nav-back: #fff;
	--light-nav-text: #000;
	--light-nav-hover: #90e0ef;
	--light-bg-about: #f8edeb;
	--light-bg-contact: #e2ece9;
	--light-bg-projects: #f0efeb;
	--light-bg-toggle: #e4e4e4;
	--light-btn-toggle: #252525;
	--light-bg-contact-div: #fff;
	--light-bg-about-div: #fff;

	--dark-nav-back: #000;
	--dark-nav-text: #fff;
	--dark-bg-about: #343a40;
	--dark-bg-projects: #495057;
	--dark-bg-contact: #6c757d;
	--dark-bg-toggle: #252525;
	--dark-btn-toggle: #e4e4e4;
	--dark-bg-contact-div: #343a40;
	--dark-bg-about-div: #6c757d;
}
/* ------------------ROOT ELEMENTS------------------ */

/* -----------------SCROLLBAR STYLE START----------------- */
/* width */
::-webkit-scrollbar {
	width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #888;
	border-radius: 4px;
	padding: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}
/* -----------------SCROLLBAR STYLE END----------------- */

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

*:focus{
	outline: none;
	/* border: none; */
}

/* ---------------LIGHT AND DARK MODE COLOR VARIABLES START--------------- */
.light {
	--nav-back: var(--light-nav-back);
	--nav-text: var(--light-nav-text);
	--nav-hover: var(--light-nav-hover);
	--bg-about: var(--light-bg-about);
	--bg-contact: var(--light-bg-contact);
	--bg-projects: var(--light-bg-projects);
	--bg-toggle: var(--light-bg-toggle);
	--btn-toggle: var(--light-btn-toggle);
	--bg-contact-div: var(--light-bg-contact-div);
	--bg-about-div: var(--light-bg-about-div);
}

.dark {
	--nav-back: var(--dark-nav-back);
	--nav-text: var(--dark-nav-text);
	--nav-hover: var(--light-nav-hover);
	--bg-about: var(--dark-bg-about);
	--bg-contact: var(--dark-bg-contact);
	--bg-projects: var(--dark-bg-projects);
	--bg-toggle: var(--dark-bg-toggle);
	--btn-toggle: var(--dark-btn-toggle);
	--bg-contact-div: var(--dark-bg-contact-div);
	--bg-about-div: var(--dark-bg-about-div);
}
/* ---------------LIGHT AND DARK MODE COLOR VARIABLES END--------------- */

/* ----------------------NAVBAR STYLE START---------------------- */
html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Dancing Script';
}

.navbar {
	background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/bg.jpg");
	background-position: 0 0;
	background-size: cover;
	color: #fff;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 9vh;
	position: sticky;
	top: 0;
	transition: all .5s ease-in-out;
}

.scroll-active {
	background: var(--nav-back);
	color: var(--nav-text);
	box-shadow: 0 3px 1em rgba(0, 0, 0, 0.5);
	z-index: 10;
}

.navbar .mainMenu {
	list-style: none;
	display: flex;
}

.navbar .mainMenu li a {
	display: inline-block;
	padding: 15px;
	border-radius: 1.5rem;
	text-decoration: none;
	text-transform: uppercase;
	color: #fff;
	font-size: 1.2rem;
}

.scroll-active .mainMenu li a {
	color: var(--nav-text);
}

.navbar .mainMenu li a:hover {
	background: var(--nav-hover);
	color: var(--nav-text);
}

.navbar .openMenu {
	font-size: 2rem;
	margin: 20px;
	display: none;
	cursor: pointer;
}

.navbar .mainMenu .closeMenu,
.icons i {
	font-size: 2rem;
	display: none;
	cursor: pointer;
}

.fa-facebook:hover {
	color: rgb(0, 110, 255);
}

.fa-instagram:hover {
	color: rgb(255, 0, 191);
}

.fa-github:hover {
	color: rgb(255, 123, 0);
}

.navbar .logo {
	margin: 6px 15px;
	font-size: 20px;
	cursor: pointer;
	display: flex;
}
/* ----------------------NAVBAR STYLE END---------------------- */

/* -------------------HOME STYLE START------------------- */
.home {
	width: 100%;
	height: 100vh;
	background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/bg.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: row;
	text-align: left;
	justify-content: space-evenly;
	align-items: center;
	font-family: 'Marck Script';
}

.home-gif {
	width: 500px;
}

.hi {
	color: white;
	font-size: 2em;
	font-weight: 400;
}
.ml9 {
	position: relative;
	font-weight: 200;
	font-size: 5em;
	color: #fff;
}

.ml9 .text-wrapper {
	position: relative;
	display: inline-block;
	padding-top: 0.2em;
	padding-right: 0.05em;
	padding-bottom: 0.1em;
	overflow: hidden;
}

.ml9 .letter {
	transform-origin: 50% 100%;
	display: inline-block;
	line-height: 1em;
}

.type {
	font-size: 3em;
	color: #fff;
	height: 3em;
}
/* -------------------HOME STYLE END------------------- */

/* -------------------ABOUT STYLE START------------------- */
.about {
	width: 100%;
	height: 100vh;
	background: var(--bg-about);
	display: flex;
	justify-content: center;
	align-items: flex-end;
}

.about-page{
	width: 90%;
	height: 85%;
	margin-bottom: 20px;
	display: flex;
}

.div{
	width: 40%;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.about-img{
	/* width: 100%; */
	height: 50%;
	background-color: var(--bg-about-div);
	margin: 5px;
	border-radius: 15px;
}

.about-skills{
	/* width: 100%; */
	height: 50%;
	background-color: var(--bg-about-div);
	margin: 5px;
	border-radius: 15px;
}

.about-text{
	width: 60%;
	/* height: 100%; */
	background-color: var(--bg-about-div);
	margin: 5px;
	border-radius: 15px;
}
/* -------------------ABOUT STYLE END------------------- */

/* -------------------PROJECTS STYLE START------------------- */
.projects {
	width: 100%;
	height: 100vh;
	background: var(--bg-projects);
}
/* -------------------PROJECTS STYLE END------------------- */

/* -------------------CONTACT STYLE START------------------- */
.contact {
	width: 100%;
	height: 100vh;
	background: var(--bg-contact);
	display: flex;
	justify-content: center;
	align-items: flex-end;
}

.contact-page {
	width: 80%;
	height: 85%;
	margin-bottom: 20px;
	border-radius: 10px;
	background: var(--bg-contact-div);
	box-shadow: 3px 3px 1em rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.fname-lname{
	width: 90%;
	display: flex;
	justify-content: space-between;
	margin: 10px 0;
}

.contact-page > h1{
	color: var(--nav-text);
	font-size: 40px;
}

#fname, #lname{
	width: 45%;
	font-size: 25px;
	border-radius: 32px;
	padding: 5px 15px;
	font-family: 'Marck Script';
}
#email{
	width: 90%;
	margin: 10px 0;
	font-size: 25px;
	border-radius: 32px;
	padding: 5px 15px;
	font-family: 'Marck Script';
}
#number{
	width: 90%;
	margin: 10px 0;
	font-size: 25px;
	border-radius: 32px;
	padding: 5px 15px;
	font-family: 'Marck Script';
}
#message{
	width: 90%;
	margin: 10px 0;
	font-size: 25px;
	border-radius: 15px;
	padding: 5px 15px;
	font-family: 'Marck Script';
}

#send{
	padding: 10px 30px;
	font-size: 25px;
	border-radius: 26px;
	font-family: 'Marck Script';
	border: none;
	background: linear-gradient(43deg, rgba(9,9,121,1) 0%, rgba(0,212,255,1) 100%);
	transition: all .3s ease;
	margin: 10px 0;
	color: #fff;
}
#send:hover{
	transform: scale(1.1);
	cursor: pointer;
}

.social{
	color: var(--nav-text);
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	width: 50%;
	align-items: center;
	margin: 10px 0;
}
.social > a{
	color: var(--nav-text);
}
.social i{
	font-size: 30px;
	cursor: pointer;
}
/*-------------------CONTACT STYLE END------------------- */

/* -----------------DARK MODE LIGHT MODE TOGGLE START----------------- */
.dark-light-toggle {
	width: 150px;
	height: 50px;
	border-radius: 25px;
	background: var(--bg-toggle);
	color: var(--nav-text);
	position: fixed;
	bottom: 40px;
	left: -95px;
	box-shadow: 2px 2px .5em 2px rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: flex-end;
	align-items: center;
	transition: all .5s ease;
	cursor: pointer;
}

.dark-light-toggle input {
	display: none;
}

.dark-light-toggle label {
	width: 40px;
	height: 40px;
	font-size: 25px;
	display: flex;
	justify-content: center;
	align-items: center;
	outline: none;
	border: none;
	border-radius: 50%;
	margin-right: 8px;
	background-color: var(--btn-toggle);
	color: var(--nav-back);
	cursor: pointer;
	transition: all .5s ease;
}

#sun {
	display: none;
}

#moon {
	display: block;
}

.topBtn {
	position: fixed;
	width: 40px;
	height: 40px;
	bottom: 20px;
	right: 20px;
	border-radius: 50%;
	background: var(--bg-toggle);
	display: none;
	justify-content: center;
	align-items: center;
	box-shadow: 2px 2px .5em rgba(0, 0, 0, 0.5);
	transition: all .5s ease;
	cursor: pointer;
}

.topBtn i {
	font-size: 23px;
	color: var(--nav-text);
}
/* -----------------DARK MODE LIGHT MODE TOGGLE END----------------- */

/* -------------------RESPONSIVE STYLE START------------------- */
@media (max-width: 800px) {
	/* ----------------------RESPONSIVE NAVBAR START---------------------- */
	.navbar {
		background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/bg2.jpeg");
		background-size: cover;
		background-position: 0 0;
		background-size: cover;
	}

	.scroll-active {
		background: var(--nav-back);
	}

	.navbar .mainMenu {
		height: 100vh;
		position: fixed;
		top: 0;
		right: 0;
		left: 0;
		z-index: 112;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background: var(--nav-back);
		transition: top .5s ease;
		display: none;
	}

	.navbar .mainMenu li a {
		color: #000;
	}

	.scroll-active .mainMenu li a {
		color: var(--nav-text);
	}

	.navbar .mainMenu .closeMenu {
		display: block;
		position: absolute;
		top: 20px;
		right: 20px;
		color: #000;
	}

	.scroll-active .mainMenu .closeMenu {
		color: var(--nav-text);
	}

	.navbar .openMenu {
		display: block;
	}

	.navbar .mainMenu li a:hover {
		background: none;
		color: var(--nav-hover);
		font-size: 1.6rem;
	}

	.navbar .icons i {
		display: inline-block;
		padding: 12px;
		color: #000;
	}

	.scroll-active .icons i {
		color: var(--nav-text);
	}
	/* ----------------------RESPONSIVE NAVBAR END---------------------- */

	/* -----------------------RESPONSIVE HOME START----------------------- */
	.home {
		background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/bg2.jpeg");
		background-size: cover;
		background-position: center;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
	}

	.home-gif {
		width: 200px;
	}

	.hi {
		color: white;
		font-size: 2em;
	}
	.ml9 {
		position: relative;
		font-weight: 200;
		font-size: 2.5em;
		color: #fff;
	}

	.ml9 .text-wrapper {
		position: relative;
		display: inline-block;
		padding-top: 0.2em;
		padding-right: 0.05em;
		padding-bottom: 0.1em;
		overflow: hidden;
	}

	.ml9 .letter {
		transform-origin: 50% 100%;
		display: inline-block;
		line-height: 1em;
	}

	.type {
		font-size: 2em;
		color: #fff;
		height: 3em;
	}
	/* -----------------------RESPONSIVE HOME END----------------------- */

	/* ---------------------RESPONSIVE ABOUT START--------------------- */
	.about-page{
		flex-direction: column-reverse;
	}

	.about-skills{
		height: 100%;
		margin: 0;
	}

	.about-img{
		display: none;
	}

	.div{
		width: 100%;
		height: 40%;
	}

	.about-text{
		width: 100%;
		height: 60%;
		margin-bottom: 10px;
		margin-left: 0;
	}
	/* ---------------------RESPONSIVE ABOUT END--------------------- */

	/* ---------------------RESPONSIVE CONTACT PAGE START--------------------- */
	.contact-page {
		width: 90%;
		justify-content: space-evenly;
	}
	.fname-lname{
		flex-direction: column;
		margin-top: 15px;
		margin-bottom: 0;
		justify-content: space-evenly;
	}
	#fname, #lname{
		width: 100%;
		font-size: 17px;
		margin: 7.5px 0;
	}
	#email{
		font-size: 17px;
		margin: 7.5px 0;
	}
	#number{
		font-size: 17px;
		margin: 7.5px 0;
	}
	#message{
		font-size: 17px;
		margin: 7.5px 0;
	}
	#send{
		font-size: 20px;
		margin: 7.5px;
	}
	#send:hover{
		transform: scale(1);
	}
	/* ---------------------RESPONSIVE CONTACT PAGE END--------------------- */

	/* -----------------RESPONSIVE DARK MODE LIGHT MODE TOGGLE START----------------- */
	.dark-light-toggle {
		height: 40px;
		border-radius: 20px;
		left: -105px;
	}

	.dark-light-toggle label {
		height: 30px;
		width: 30px;
		display: flex;
		font-size: 20px;
		justify-content: center;
		align-items: center;
		margin-right: 7px;
	}

	.topBtn {
		width: 35px;
		height: 35px;
	}

	.topBtn i {
		font-size: 20px;
	}
	/* -----------------RESPONSIVE DARK MODE LIGHT MODE TOGGLE END----------------- */
}
/* -------------------RESPONSIVE STYLE END------------------- */
